# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/NanoCore/v16
/bin
/NanoCore/x64/Debug
/NanoCore/NanoCore.vcxproj.user
/NanoCore/NanoCore.vcxproj.filters
/NanoCore/NanoCore.vcxproj
/NanoCore-Editor/assets/cache/shader/opengl
/NanoCore-Editor/x64/Debug
/NanoCore-Editor/Profile-Startup.json
/NanoCore-Editor/Profile-Runtime.json
/NanoCore-Editor/NanoCore-Editor.vcxproj.user
/NanoCore-Editor/NanoCore-Editor.vcxproj.filters
/NanoCore-Editor/NanoCore-Editor.vcxproj
/NanoCore-UI/x64/Release
/NanoCore-UI/NanoCore-UI.vcxproj.user
/NanoCore-UI/NanoCore-UI.vcxproj.filters
/NanoCore-UI/NanoCore-UI.vcxproj
/x64/Debug
/temp/Release-windows-x64
/NanoCore.sln
/NanoCore-Editor/resources/cache/shader/opengl
/bin-int/Debug-windows-x86_64/RayAdas
